/**************************
*       BREADCRUMBS       *
**************************/

#divWaitModal + table > tbody > tr:first-child a, /*Targets text*/
#divWaitModal + table > tbody > tr:first-child b /*Targets greater-than symbol*/ {
  color: #484848;
  font-size: 14px;
  font-weight: normal;
}

#divWaitModal + table > tbody > tr:first-child b {
  display: block;
  margin-bottom: 10px;
}

/*****************************
*   WHOLE SUB CAT CONTAINER  *
*****************************/

/*Set container's background or border*/
.colors_backgroundneutral {
  background: none; /*Overrides default*/
  border-bottom: 1px solid #eaeaea;
  display: block;
  margin-bottom: 30px;
  padding-bottom: 12px;
}

/*****************************
*           HEADING          *
*****************************/

/* Heading background */
table.colors_backgroundlight {
  background: none;
  border-bottom: 0 solid #e1e1e1;
  width: 100%;
}

/* Heading text styling */
table.colors_backgroundlight > tbody > tr > td:first-child b {
  color: #484848;
  display: block;
  font-size: 16px;
  text-transform: uppercase;
  font-family: inherit;
  font-weight: normal;
  padding: 20px 0 10px;
  border-bottom: 1px solid #eaeaea;
  margin-bottom: 12px;
}

/*****************************
*        CATEGORY LINKS      *
*****************************/

/* Category links outer container (excludes heading container) */
/* Use for background and padding */
table.colors_backgroundlight + table {
  padding: 3% 0;
}

.subcategory_name {
  display: inline-block;
  vertical-align: middle;
}

/* Category link */
a.subcategory_link {
  font-size: 14px;
  display: block;
  padding:2% 0;
  font-weight: normal;
}

a.subcategory_link:before {
  content: "\2022";
  display: inline-block;
  margin-right: 4px;
  vertical-align: middle;
}

/* Category link hover */
a.subcategory_link:hover {
  text-decoration: none;
}

/*****************************
*      RESPONSIVE IMAGES     *
*****************************/

table.v65-productDisplay .v65-productPhoto img,
img[src$="nophoto.gif"],
img[src*="/v/vspfiles/photos/"]{
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 0 15px;
  margin-left: 0px;
}

/*****************************
*       CATEGORY STYLES      *
*****************************/

/* Product Title */
table.v65-productDisplay .productnamecolor {
  font: 600 12px 'Source Sans Pro', Arial, Sans-Serif;

  text-align: center; /* added by yan 08/07 */
}

.v-product div {
  text-align: center; /* added by yan 08/11 */
}

/* List Price */
table.v65-productDisplay .product_listprice,
table.v65-productDisplay .product_listprice b {
  color: #484848;
  font-size: 12px;
  font-weight: normal;

  text-align: center; /* added by yan 08/07 */
}

/* Our Price */
table.v65-productDisplay .product_productprice,
table.v65-productDisplay .product_productprice b {
  color: #484848;
  font-size: 12px;
  font-weight: normal;

  text-align: center; /* added by yan 08/07 */
}


/* Sale Price */
table.v65-productDisplay .product_saleprice,
table.v65-productDisplay .product_saleprice b {
  color: #aa1f1f;
  font-size: 12px;
  font-weight: normal;

  text-align: center; /* added by yan 08/07 */
}

/* Deal Price */
table.v65-productDisplay .product_dealprice {
  color: #aa1f1f;
  font-size: 12px;
  font-weight: normal;

  text-align: center; /* added by yan 08/07 */
}

/* You Save */
table.v65-productDisplay .product_yousave {
  color: #484848;
  font-size: 11px;
  font-style: italic;
  font-weight: normal;

  text-align: center; /* added by yan 08/07 */
}

p.v-product__desc {
  text-align: center; /* added by yan 08/07 */
  margin: 0px;
}

.v-product br {
  display: none;
}

/* Discount Price */
table.v65-productDisplay .product_discountprice {
  text-align: center; /* added by yan 08/07 */
}

/* Set Up Cost */
table.v65-productDisplay .product_setupcost, table.v65-productDisplay .product_setupcost b {}

/* Description */
table.v65-productDisplay img + br + font.text.colors_text, /*Single rows / Select / Checkboxes / List*/
table.v65-productDisplay td[valign="top"] > font.text.colors_text /*Grid / Lightweight Grid*/ {
  color: #686868;
  font-size: 14px;
  font-weight: normal;

  text-align: center; /* added by yan 08/07 */
}

table.v65-productDisplay .v65-productPhoto img,
img[src*="/v/vspfiles/photos/"] {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto 15px;
}
/*****************************
*  CENTER PROD NAME & PRICE  *
*****************************/

/*#content_area table.v65-productDisplay {
  text-align: center;
}*/

/*****************************
*    REMOVE DIVIDER LINES    *
*****************************/

/*td[background$="Grid_Single_Divider_Vert.gif"],
td[background$="Grid_Single_Divider_Horiz.gif"] {
  background: none !important;
}*/

/* * * * * * FIXES * * * * * */

#content_area table { table-layout: fixed; }

.colors_backgroundlight td[width="195"] + td[width="20"] {display: none;}

img[src$="Bullet_SubCategory.gif"] {display: none;}

#jmenuhide b,
#MainForm font[size="2"] b {
  font-weight: normal;
}

/* Remove padding-left from breadcrumbs */
#divWaitModal + table > tbody > tr:first-child td {padding-left: 0;}

/* Remove default Arial font family */
font[face="Arial"] {font-family: inherit;}

/* Remove default padding of table containing subcat links */
table.colors_backgroundlight + table td {padding: 0;}

/* Remove excess spacing to left of product name in Checkboxes display mode*/
a.productnamecolor.colors_productname + img {display: none;}

/* Heading */
table.colors_backgroundlight > tbody > tr > td > img, /*Heading images*/
.colors_lines_light, .colors_lines_light + .colors_backgroundneutral  /*Lines below heading*/ {
  display: none;
}

#MainForm > table:nth-child(3) > tbody > tr > td > table:nth-child(2),
#MainForm > table:last-of-type,
#MainForm > table:nth-child(3) > tbody > tr > td > table:nth-child(1) > tbody > tr:nth-child(2){
  display: none;
}

#MainForm > table:nth-child(3) {
  background-color: #f7f7f8;
  border-radius: 2px;
  border: 1px dotted #eeeeee;
  display: block;
}

#MainForm > table:nth-child(3) > tbody > tr > td {
  padding: 5px;
}

td.category-action-td {
  padding: 0px !important;
  vertical-align: middle;
}

td#sort-by-td {
  text-align: left;
}

td#per-page-td {
  text-align: center;
}

td#cur-page-td {
  text-align: right;
}

.category-action-td .category-action-select {
  width: 144px;
  display: inline-block !important;
}

@media only screen and (max-width: 767px) {
  .category-action-expl {
    width: 100%;
    display: block;
    text-align: center;
  }

  .category-action-select {
    margin: 0px auto;
    width: 98% !important;
    display: block;
    text-align: center;
  }
}

@media (max-width:480px){
  .v65-productDisplay{
    width: 100%;
    table-layout: fixed;
  }
  td[background*="/v/vspfiles/templates/have_hold_r/images/Grid_Divider_Vertical.gif"]{
    padding:0 10px;
  }

  form#MainForm > input[name="Cat"] + table > tbody > tr > td,
  .category-action-td {
    display: block;
    text-align: right !important;
  }

  .category-action-td .category-action-select {
    height: 30px !important;
  }

  /* Product Title */
  table.v65-productDisplay .productnamecolor {
      font-size: 12px;
  }

  /* List Price */
  table.v65-productDisplay .product_listprice,
  table.v65-productDisplay .product_listprice b {
    font-size: 12px;
  }

  /* Our Price */
  table.v65-productDisplay .product_productprice,
  table.v65-productDisplay .product_productprice b {
    font-size: 12px;
  }

  /* Sale Price */
  table.v65-productDisplay .product_saleprice,
  table.v65-productDisplay .product_saleprice b {
    font-size: 12px;
  }

  /* Deal Price */
  table.v65-productDisplay .product_dealprice {
    font-size: 12px;
  }

  /* Mobile products */
  .v-product-grid {
    margin: 10px 0px;
  }
  .v-product-grid .v-product {
    margin: 0px !important;
    padding: 0px !important;
  }
  .v-product-grid .v-product:not(:last-child) {
    border-bottom: 1px solid #eeeeee;
  }
  .v-product-grid .v-product .v-product__img {
    float: left;
    width: 50%;
  }
  .v-product-grid .v-product .v-product__img img {
    margin: 0px !important;
  }
  .v65-productDisplay .productnamecolor.colors_productname,
  a.productnamecolor.colors_productname {
    text-align: left;
    margin: 1px 0px 0px 51%;
  }
  .v-product-grid .v-product .v-product__desc {
    text-align: left;
    margin-left: 51%;
  }
  .v-product-grid .v-product > div {
    margin-left: 51%;
  }
  .v-product .text, .v-product div {
    text-align: left;
  }
  table.v65-productDisplay .product_productprice {
    text-align: left;
  }
  table.v65-productDisplay .product_discountprice {
    text-align: left;
  }
}

.page-nav-btn {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f7f7f8), color-stop(1, #eeeeee));
  background:-moz-linear-gradient(top, #f7f7f8 5%, #eeeeee 100%);
  background:-webkit-linear-gradient(top, #f7f7f8 5%, #eeeeee 100%);
  background:-o-linear-gradient(top, #f7f7f8 5%, #eeeeee 100%);
  background:-ms-linear-gradient(top, #f7f7f8 5%, #eeeeee 100%);
  background:linear-gradient(to bottom, #f7f7f8 5%, #eeeeee 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7f7f8', endColorstr='#eeeeee',GradientType=0);
  background-color:#f7f7f8;
  -moz-border-radius:10px/80%;
  -webkit-border-radius:10px/80%;
  border-radius:10px/80%;
  border:1px dotted #eeeeee;
  display:inline-block;
  cursor:pointer;
  color:black;
  font-size:14px;
  font-weight:normal;
  padding:5px 15px;
  text-decoration:none;
}
.page-nav-btn:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #eeeeee), color-stop(1, #f7f7f8));
  background:-moz-linear-gradient(top, #eeeeee 5%, #f7f7f8 100%);
  background:-webkit-linear-gradient(top, #eeeeee 5%, #f7f7f8 100%);
  background:-o-linear-gradient(top, #eeeeee 5%, #f7f7f8 100%);
  background:-ms-linear-gradient(top, #eeeeee 5%, #f7f7f8 100%);
  background:linear-gradient(to bottom, #eeeeee 5%, #f7f7f8 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#f7f7f8',GradientType=0);
  background-color:#eeeeee;
  text-decoration: none;
}
.page-nav-btn:active {
  position:relative;
  top:1px;
}
.page-nav-btn-disabled {
  background-color:#eeeeee;
  -moz-border-radius:10px/80%;
  -webkit-border-radius:10px/80%;
  border-radius:10px/80%;
  border:1px dotted #eeeeee;
  display:inline-block;
  cursor:default;
  color:#aaaaaa;
  font-size:14px;
  font-weight:normal;
  padding:5px 15px;
  text-decoration:none;
}
.page-nav-btn-disabled:hover {
  text-decoration: none;
  color:#aaaaaa;
}
#page-navigator {
  text-align: center;
  margin-top: 5px;
  padding-bottom: 5px;
}
#prev-page-container{
  width: 49%;
  display: inline-block;
  text-align: left;
}
#next-page-container{
  width: 49%;
  display: inline-block;
  text-align: right;
}