/* Modal Styles */
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700);

body {
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 11px;
  line-height: 1.42857;
  color: #545454;
  background-color: #e6dfcd; }

/* Modal Spacing */
table.colors_lines_light td {
  padding: 0px;
}

/* Hacky way to make text in My Orders table left align on myaccount.asp */
/*form[name='form2'] > table > tbody > tr:nth-child(2) td table td {
  text-align: left;
}

form[name='form2'] > table > tbody > tr > td > table > tbody > tr > td {
  padding: 4px;
}

form[name='form2'] > table > tbody > tr > td > table[width='520'] > tbody > tr > td {
  border: 0px;
  padding: 0px;
}
*/
/* Hacky way to beautify orders.asp */
/*form[name='form2'] > table > tbody > tr > td > table > tbody > tr > td ul {
  list-style: none;
  padding-left: 0 !important;
}

form[name='form2'] > table > tbody > tr > td > table > tbody > tr > td table {
  table-layout: fixed;
}

form[name='form2'] > table > tbody > tr > td > table > tbody > tr > td table td:nth-child(1) {
  width: 79%;
}
form[name='form2'] > table > tbody > tr > td > table > tbody > tr > td table td:nth-child(2) {
  width: 10%;
}
form[name='form2'] > table > tbody > tr > td > table > tbody > tr > td table td:nth-child(3) {
  width: 11%;
}

.container a[href='myaccount.asp'] {
  font-size: 14px;
}*/

/* myaccount.asp */
table#myaccount-table > tbody > tr:nth-child(4) {
  display: none;
}

table#myaccount-table a {
  text-decoration: none;
}

table#myaccount-table a:hover {
  color: #f5a34e;
}

table#myaccount-table > tbody > tr:not(:first-child) > td > table {
  width: 500px;
  margin: 10px auto;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

table#myaccount-table > tbody > tr:not(:first-child) > td > table td {
  background-color: #f7f7f8;
}

table#myaccount-table > tbody > tr:not(:first-child) > td > table > tbody > tr:first-child > td {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #D94545;
}

table#myaccount-table > tbody > tr:not(:first-child) > td > table > tbody > tr:first-child > td b {
  font-weight: normal;
}

table#myaccount-table > tbody > tr:not(:first-child) > td > table td {
  padding: 5px 5px 5px 15px;
  display: block;
  width: 100%;
}

table#myaccount-table > tbody > tr:not(:first-child) > td > table td {
  border-bottom: 1px solid rgb(204, 204, 204);
}

table#myaccount-table > tbody > tr:not(:first-child) > td > table > tbody > tr:last-child > td:last-child,
table#myaccount-table > tbody > tr:not(:first-child) > td > table > tbody > tr:first-child > td:first-child {
  border-bottom: 0px;
}

table#myaccount-table td {
  font-size: 14px;
}

table#myaccount-table font {
  font-size: 15px;
  color: white;
}

#myaccount-table > tbody > tr:nth-child(6) > td > a {
  padding: 5px 12px;
  font-weight: normal;
}

/* orders.asp return to my account */
#content_area > img,
#content_area > br {
  display: none;
}

#content_area > a {
  font-size: 14px;
  margin-bottom: 10px;
  display: block;
}

/* orders.asp order history title */
#orders-table-container a {
  text-decoration: none;
}

#orders-table-container a:hover {
  color: #f5a34e;
}

#orders-table-container > tbody > tr:nth-child(1) > td {
  text-align: left;
  font-size: 24px;
  border-bottom: 1px solid #eeeeee;
}

#orders-table-container > tbody > tr:nth-child(1) > td b {
  font-weight: normal;
}

/* view order period selection. */
#orders-table-container > tbody > tr:nth-child(2) > td {
  padding: 5px 0px;
}

#orders-table-container > tbody > tr:nth-child(2) > td > table {
  background-color: #f7f7f8;
  width: 100%;
  margin: 0px auto;
  border: 1px dotted #eeeeee;
  border-radius: 2px;
  display: block;
}

#orders-table-container > tbody > tr:nth-child(2) > td > table > tbody,
#orders-table-container > tbody > tr:nth-child(2) > td > table > tbody > tr {
  display: block;
}

#orders-table-container > tbody > tr:nth-child(2) > td > table > tbody > tr > td:not(:nth-child(2)) {
  display: none;
}

#orders-table-container > tbody > tr:nth-child(2) > td > table > tbody > tr > td:nth-child(2) {
  width: 100%;
  padding: 5px;
  display: block;
  text-align: center;
}

#orders-table-container > tbody > tr:nth-child(2) > td select {
  margin: 0px auto;
}

/* orders.asp orders list */
#content_area > form[name='form2'] {
  display: none;
}

#orders-table {
  width: 70%;
  min-width: 790px;
  margin: 10px auto 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

#orders-table > tbody > tr:nth-child(1) > td {
  background-color: rgba(217,69,69,0.85);
  height: 30px;
  padding: 0px 15px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

#orders-table > tbody > tr:nth-child(1) > td font {
  color: white;
  font-size: 15px;
  line-height: 40px;
}

#orders-table > tbody > tr:nth-child(1) > td font b {
  font-weight: normal;
}

#orders-table a#show-all-toggle {
  float: right;
  width: 95px;
  padding: 0px;
  margin: 5px 0px;
  font-size: 14px;
  font-weight: normal;
  text-decoration: none;
  height: 30px;
  line-height: 28px;
}

#orders-table > tbody > tr.colors_backgroundneutral > td {
  display: block;
  width: 100%;
}

#orders-table > tbody > tr.colors_backgroundneutral {
  display: block;
  background-color: #f7f7f8;
}

#orders-table > tbody > tr.colors_backgroundneutral div {
  clear: both;
}

/* Order number */
#orders-table > tbody > tr:not(:first-child):not(:last-child) {
  border-bottom: 1px solid rgb(204, 204, 204);
}

#orders-table > tbody > tr.colors_backgroundneutral > td:nth-child(1) {
  width: 60%;
  float: left;
  height: auto;
  line-height: 40px;
  padding-left: 15px;
  font-weight: bold;
}

#orders-table > tbody > tr.colors_backgroundneutral > td:nth-child(1) b {
  font-weight: normal;
}

#orders-table > tbody > tr.colors_backgroundneutral > td:nth-child(1) b:not(:first-child) {
  margin-left: 15px;
}

/* Change button */
#orders-table > tbody > tr.colors_backgroundneutral > td:nth-child(2) {
  width: 40%;
  float: left;
  height: 40px;
  padding: 5px 15px 5px 0px;
  text-align: right;
  min-width: 260px;
}

#orders-table > tbody > tr.colors_backgroundneutral > td:nth-child(2) a:first-child {
  width: 160px;
  padding: 4px 0px;
  font-size: 14px;
  font-weight: normal;
  text-decoration: none;
  height: 30px;
}

#orders-table > tbody > tr.colors_backgroundneutral > td:nth-child(2) a:last-child {
  width: 95px;
  padding: 4px 0px;
  font-size: 14px;
  font-weight: normal;
  text-decoration: none;
  margin-left: 5px;
  height: 30px;
}

/* Order detail */
#orders-table > tbody > tr.colors_backgroundneutral > td:nth-child(3) {
  clear:both;
  border-top: 1px solid #eeeeee;
  padding: 5px 15px;
}

table#orders-table table.order-detail-table {
  table-layout: fixed;
}

table#orders-table table.order-detail-table > tbody > tr > td:first-child {
  width: 80%;
}

table#orders-table table.order-detail-table > tbody > tr > td:first-child ul {
  list-style: none;
  padding: 0 !important;
  margin: 0 !important;
}

table#orders-table table.order-detail-table > tbody > tr > td:first-child li:before {
  content: "-";
  padding-right: 4px;
  color: #666666;
}

table#orders-table table.order-detail-table > tbody > tr > td:first-child a {
  text-decoration: none;
}

table#orders-table table.order-detail-table > tbody > tr > td:nth-child(2) {
  width: 10%;
}

table#orders-table table.order-detail-table > tbody > tr > td:last-child {
  width: 10%;
}

/* COLORS */
.colors_background3 {
/*   background-color: #D94545; */
}

.colors_highlight {
  background-color: #fb0;
}

.colors_lines {
  background-color: #000;
}

.colors_lines_light {
  background-color: #ddd;
}

.colors_menutitle {
  background-color: #444;
}

.colors_menutitletext {
  color: #fff;
}

/* PRODUCT NAME COLOR */
.colors_productname {
  color: #333333;
}

/* PRODUCT PRICE COLOR */
.colors_productprice {
  color: #cc0000;
}

a.colors_homepage_title {
  color: #333333;
}

body,
.colors_background_main,
.colors_background1,
.colors_background2 {
  background-color: #fff;
}

a,
.colors_background2_text,
.colors_background3_text,
.colors_links {
  color: #333333;
}

a.colors_background2_text:hover,
a.colors_background3_text:hover,
a.colors_productname:hover {
  color: #666666;
}

a:hover,
a.colors_links:hover {
  color: #666666;
}

td, .colors_text {
  color: black;
}

.colors_background1_text {
  color: black;
}

.colors_background1_text:hover {
  color: #666666;
}

.colors_backgroundlight,
.colors_backgroundneutral,
.colors_descriptionbox,
.colors_pricebox {
  background-color: #eee;
}

.colors_backgroundlight_dark,
.colors_backgroundneutral_dark {
  background-color: #ddd;
}

/* CONTENT AREA */
font {
  color: black;
  font-size: 14px;
}

form {
  margin: 0;
}

.productnamecolor, a.productnamecolor {
  font-size: 12px;
  font-weight: 700;
}

a.carttext:hover {
  font-size: 10px;
  text-decoration: underline;
}

.navtitle, a.navtitle, a.navtitle:hover {
  font-size: 12px;
  letter-spacing: 3px;
}

a.navtop:hover {
  color: #666666;
  text-decoration: underline;
}

table, td, .bgcolor1, .bgcolor2, .bgcolor3,
.pricecolor, a.regularlink,
.nav1, a.nav1, .nav1_selected, a.nav1_selected,
.nav2, a.nav2, .nav2_selected, a.nav2_selected,
.nav3, a.nav3, .nav3_selected, a.nav3_selected,
.navbottom, a.navbottom, .navspecials, a.navspecials {
  font-size: 14px;
}

textarea, input, .navtop, a.navtop {
  color: #000;
  font-size: 12px;
}

.productnamecolorLARGE, a.productnamecolorLARGE, a.productnamecolorLARGE:hover {
  font-size: 14px;
  font-weight: bold;
}

.productnamecolorsmall, a.productnamecolorsmall,
.pricecolorsmall, .smalltext, .carttext, a.carttext {
  font-size: 10px;
}

a.regularlink:hover, a.navbottom:hover {
  text-decoration: underline;
}

table[width="385"] {
  width: 100% !important;
  max-width: 385px !important;
}

/*
    Register page.
*/
#login-table form {
  width: 420px;
  margin: 0px auto;
}

#login-table > tbody > tr > td:nth-child(-n+2),
#login-table > tbody > tr > td:nth-child(3) > br,
#RegisterForm > br,
#RegisterForm > table > tbody > tr:nth-child(1),
#register-info tr:nth-child(3),
#billing-info > tbody > tr:nth-child(12) {
  display: none;
}

#login-table > tbody > tr > td:nth-child(3) strong {
  display: none;
  text-align: center;
  font-size: 15px;
  font-weight: normal;
  margin-bottom: 10px;
}

#login-table form > table {
  display: block;
  width: 100%;
  background-color: #F7F7F8;
  border-collapse: collapse;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 3px;
}

#login-table form > center {
  margin-top: 3px;
}

#login-table form > center a:hover {
  text-decoration: none;
  color: #f5a34e;
}

#login-table form > table tr,
#login-table form > table tr td {
  width: 100%;
}

#login-table form > table input {
  width: 100%;
  height: 30px !important;
  margin: 0px !important;
}

#login-table form > table input[name='Login'] {
  font-size: 13px;
  font-weight: normal;
  padding: 0px 10px;
}

#login-table input[type="text"],
#login-table input[type="password"] {
  border-radius: 3px !important;
}

#login-table form > table td {
  padding: 12px;
}

#login-table form > table tr:nth-child(1) > td {
  padding-bottom: 0px;
}

#login-table form > table tr:nth-child(2) > td:nth-child(1) {
  padding-right: 0px;
}

#RegisterForm
{
  width: 420px;
  margin: 0px auto;
}

#sign-up-toggle {
  background-color: rgba(217, 69, 69, 0.85098);
  color: white;
  font-size: 15px;
  width: 420px;
  height: 36px;
  line-height: 36px;
  margin: 20px auto 0px auto;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
}

#sign-up-toggle:hover {
  color: #f5a34e;
  background-color: rgba(213,48,48,0.85);
}

.sign-up-toggle-on {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: 1px solid rgb(217, 69, 69);
  border-bottom: 0px;
}

.sign-up-toggle-off {
  border-radius: 5px;
  border: 1px solid rgb(217, 69, 69);
}

#RegisterForm > table {
  background-color: #F7F7F8;
  border-collapse: collapse;
  border: 1px solid rgb(204, 204, 204);
  border-top: 0px;
}

#register-info td[width="48%"],
#billing-info td[width="48%"],
#billing-info > tbody > tr:nth-child(7) td,
#billing-info > tbody > tr:nth-child(8) td {
  border-right: 1px solid rgb(204,204,204);
  width: 23%;
}

#register-info td[width="48%"] span,
#billing-info td[width="48%"] span,
#billing-info > tbody > tr:nth-child(7) td span,
#billing-info > tbody > tr:nth-child(8) td span {
  color: #DA4545;
}

#register-info td[width="48%"] b,
#billing-info td[width="48%"] b,
#billing-info > tbody > tr:nth-child(7) td b,
#billing-info > tbody > tr:nth-child(8) td b {
  font-weight: normal;
}

#billing-info > tbody > tr > td:nth-child(1),
#register-info > tbody > tr > td:nth-child(1) {
  font-size: 14px;
  text-align: right;
  padding-right: 2px;
}

#register-info td,
#billing-info td {
  border-bottom: 1px solid rgb(204,204,204);
}

#register-info input,
#billing-info input,
#billing-info select {
  background: white !important;
  width: 100% !important;
  height: 42px !important;
  color: #111 !important;
  margin: 0px !important;
  border: 0px !important;
  border-radius: 0 !important;
  text-align: left !important;
  line-height: 30px !important;
  box-shadow: none;
}

#register-info input:focus,
#billing-info input:focus,
#billing-info select:focus,
#login-table input[type="text"]:focus,
#login-table input[type="password"]:focus {
  -moz-box-shadow:    inset 0 0 10px rgba(204,204,204,0.6) !important;
  -webkit-box-shadow: inset 0 0 10px rgba(204,204,204,0.6) !important;
  box-shadow:         inset 0 0 10px rgba(204,204,204,0.6) !important;
}

#RegisterForm > table > tbody > tr:nth-child(3) > td {
  background-color: #dddddd;
  height: 33px;
  text-align: center;
  font-size: 16px;
}

#submitRegistration {
  font-size: 13px;
  padding: 5px 10px;
  margin: 6px 0px;
}

/* Hide by default. */
#RegisterForm {
  display: none;
}

#div_articleid_61 {
  margin-bottom: 15px;
}

@media only screen and (max-width: 480px) {
  #login-table form,
  #RegisterForm,
  #sign-up-toggle {
    width: 100% !important;
  }

  #register-info td[width="48%"],
  #billing-info td[width="48%"],
  #billing-info > tbody > tr:nth-child(7) td,
  #billing-info > tbody > tr:nth-child(8) td {
    width: 28%;
  }
}

@media only screen and (max-width: 767px) {
  table#myaccount-table > tbody > tr:not(:first-child) > td > table {
    width: 100%;
  }
}