#main-nav ul {
  list-style: none;
  margin:;
  padding: 0;
  text-align: center;
}

#main-nav li {
  display: inline-block;
}

#main-nav li a {
 <!-- color: #484848; original-->
  color:#f6f6f6;
  display: block;
  font-size: 12px;
  font-weight: normal;
  line-height: 32px;
  padding: 0 20px;
  text-align: center;
  text-transform: uppercase;
}

#main-nav li a:hover,  #main-nav li.nav_selected a {
  color: #f5a34e;
  text-decoration: none;
}
#main-nav {
  text-align: center;
  padding-left: 0px;
  padding-right: 0px;
}
#main-nav .vnav {
  list-style: none;
  padding: 0;
  margin: 0;
}
#main-nav .vnav__item {
  position: relative;
}
#main-nav .vnav__item:hover {
  background: none;
}
#main-nav .vnav__item:hover > a {
  color: #f5a34e;
 <--added -->
background-color:#D94545;
}
#main-nav .vnav__item:hover > .vnav__subnav {
  display: block;
  text-align: left;
  color:#6f6f6f;
}
#main-nav .vnav__link {
  color: #F6F6F6;
--  display: block; --

  font-size: 13px;
  font-weight: normal;
  letter-spacing: 0.1em;
  line-height: 50px;
  padding: 0 16px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background-color:#D94545;
}
#main-nav .vnav__item:hover, #main-nav .vnav__link--active {
  color: #f5a34e;
  background: none;
  text-decoration: none;
}
#main-nav .vnav__subnav {
  box-shadow: 0 0 3px rgba(0,0,0,.7);
  text-align: left;
  display: none;
  border-top: 2px solid #f5a34e;
  position: absolute;
  z-index: 600;
}
#main-nav .vnav__subnav .vnav__item {
  display: block;
}
#main-nav .vnav__subnav .vnav__link {
  <-- color: #484848; -->
  color:#F6f6f6;
  font-size: 12px;
  white-space: nowrap;
  line-height: 1.4;
  text-align: left;
  padding: 4px 15px;
  text-transform: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#main-nav .vnav__subnav .vnav__item:hover, #main-nav .vnav__subnav .vnav__link--active {
  color: #f5a34e;
}
#main-nav #display_menu_1 {
  background-color: #D94545;
  border-radius: 3px;
}
#main-nav .vnav--level1 {
  position: relative;
  display: inline-table;
}
#main-nav .vnav--level1 > .vnav__item {
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
#main-nav .vnav--horizontal .vnav__subnav {
  left: 0;
  top: 100%;
}
#main-nav .vnav--horizontal .vnav--level3, .vnav--horizontal .vnav--level4 {
  left: 100%;
  top: 0;
}
#main-nav .vnav--vertical .vnav__item {
  display: block;
}
#main-nav .vnav--vertical .vnav__subnav {
  left: 100%;
  top: 0px;
}
#main-nav .vnav--horizontal .vnav--level4 {
    left: 100%;
    top: 0;
}




#push-menu {
  text-align: left;
  overflow: hidden;
  overflow-y: scroll;
}
#push-menu .vnav {
  list-style: none;
  padding: 0;
  margin: 0;
}
#push-menu .vnav__item {
  position: static;
}
#push-menu .vnav__item:hover {
  background: #333;
}
#push-menu .vnav__item:hover > a {
  color: #fff;
  text-decoration: none;
}

#push-menu .vnav__link--active + .vnav__subnav, #push-menu .vnav__item:hover > .vnav__subnav {
  display: block;
  text-align: left;
}
#push-menu .vnav__link {
  color: #fff;
  display: block;
  text-align: left;
  padding: 12px 15px;
  text-transform: uppercase;
}
#push-menu .vnav__link--active {
  color: #fff;
  background: #111;
  text-decoration: none;
}

#push-menu .vnav__subnav {
  text-align: left;
  display: none;
  background: transparent;
  border: 0;
  position: relative;
}
#push-menu .vnav__subnav .vnav__item {
  display: block;
}
#push-menu .vnav__subnav .vnav__link {
  color: #fff;
  font-size: 12px;
  white-space: normal;
  text-align: left;
  padding: 8px 15px 8px 30px;
}
#push-menu .vnav--level1 {
  position: relative;
  display: block;
  background-color: #D94545;
}
#push-menu .vnav--level1 > .vnav__item {
  padding: 0;
  display: block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
#push-menu .vnav--horizontal .vnav__subnav {
  left: 0;
  top: 100%;
  padding: 0;
}
#push-menu .vnav--horizontal .vnav--level3, .vnav--horizontal .vnav--level4 {
  left: 0;
  top: 0;
}
#push-menu .vnav--level3 .vnav__link {
  padding-left: 45px;
}

#push-menu .vnav--level4 .vnav__link {
  padding-left: 60px;
}
#push-menu .vnav--vertical .vnav__item {
  display: block;
}
#push-menu .vnav--vertical .vnav__subnav {
  left: 100%;
  top: 0px;
}
#display_menu_1 .vnav__item {background-color:transparent;}
#display_menu_1 .vnav__item:hover {background-color:transparent;}
#display_menu_2 .vnav__item {background-color:transparent;}
#display_menu_2 .vnav__item:hover {background-color:transparent;}