.soft_add_wrapper {
  width: 300px;
  height: auto !important;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: fixed;
  z-index: 1000;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.6);
  -moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.6);
  box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.6);
  background: white;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
}

/* Header */
.soft_add_header .soft_add_span {
  display: none;
}

.soft_add_header_shadow {
  background: none;
  padding: 0px;
  width: 100%;
  display: block;
}

.soft_add_header {
  background: rgb(222,96,96) url(../images/template/cart_white.svg) no-repeat;
  background-position: 5px center;
  background-size: 20px 20px;
  padding: 5px;
  width: 100%;
  height: 30px;
  position: static;
  border: 0px;
  border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  -khtml-border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  -khtml-border-top-left-radius: 5px;
}

.close_btn, .close_btn:link, .close_btn:visited, .close_btn:focus, .close_btn:hover, close_btn:active {
  width: 20px;
  height: 20px;
  background: url(../images/softadd/close_white.svg);
  background-position: center center;
  background-size: 20px 20px;
  z-index: 200;
  position: static;
  float: right;
  clear: both;
  text-indent: -9999px;
}

/* Content */
.soft_add_content_shadow {
  background: transparent;
  padding: 0px;
  width: 100%;
  display: block;
  behavior: url(/a/iepngfix.htc);
  border-bottom-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -khtml-border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -khtml-border-bottom-left-radius: 5px;
}

.soft_add_content_wrapper {
  width: 100%;
  height: auto;
  border: 0px;
  background: transparent;
  position: static;
  z-index: 100;
  border-bottom-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -khtml-border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -khtml-border-bottom-left-radius: 5px;
}

.soft_add_content_area {
  height: auto;
  max-height: none;
  min-height: 75px;
  padding: 10px 0px;
  overflow: auto;
  border-bottom: 0px;
}

.cart_table {
  width: 100%;
  table-layout: fixed;
}

.cart_table .icon {
  width: 25%;
  text-align: center;
  vertical-align: middle;
}

.cart_table .icon img {
  background: transparent;
  height: 40px !important;
}

.cart_table .description {
  width: 52%;
  font-size: 12px;
}

.cart_table .product_name {
  font-weight: normal;
}

.cart_table a {
  color: #333333;
  text-decoration: none;
}

.cart_table a:hover {
  color: #f5a34e;
}

.cart_table .quantity {
  width: 8%;
  text-align: center;
  font-size: 12px;
  vertical-align: middle;
}

.cart_table .price {
  width: 15%;
  font-size: 12px;
  vertical-align: middle;
  text-align: center;
}

.cart_table .remove {
  display: none;
}

.cart_table td {
  padding: 0px;
  text-align: left;
  vertical-align: top;
  height: 50px;
}

.soft_add_sub_total {
  background: #f7f7f8;
  height: auto;
  padding: 10px 10px 5px;
  vertical-align: middle;
  line-height: 20px;
  border-top: 1px solid #ddd;
}

.soft_add_sub_total .number_of_items {
  font-size: 14px;
}

.soft_add_sub_total .sub_total {
  font-size: 20px;
}

.soft_add_sub_total::after,
.soft_add_action_area::after {
  content: "";
  display: table;
  clear: both;
}

.soft_add_action_area {
  background: #f7f7f8;
  height: auto;
  border: 0px;
  padding: 0px;
  text-align: center;
  border-bottom-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -khtml-border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -khtml-border-bottom-left-radius: 5px;
}

.continue_shopping {
  display: none;
}

.check_out {
  white-space: nowrap;
  width: 160px;
  color: black;
  height: auto;
  display: block;
  float: none;
  text-indent: 0px;
  margin: 10px auto;
  text-align: center;
}

.check_out {
  -moz-box-shadow:inset 0px 1px 0px 0px #fff6af;
  -webkit-box-shadow:inset 0px 1px 0px 0px #fff6af;
  box-shadow:inset 0px 1px 0px 0px #fff6af;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffec64), color-stop(1, #ffab23));
  background:-moz-linear-gradient(top, #ffec64 5%, #ffab23 100%);
  background:-webkit-linear-gradient(top, #ffec64 5%, #ffab23 100%);
  background:-o-linear-gradient(top, #ffec64 5%, #ffab23 100%);
  background:-ms-linear-gradient(top, #ffec64 5%, #ffab23 100%);
  background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffab23',GradientType=0);
  background-color:#ffec64;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  border:1px solid #dddddd;
  display:inline-block;
  cursor:pointer;
  color:#333333;
  font-family:Arial;
  font-size: 15px;
  font-weight:bold;
  padding: 6px 20px;
  text-decoration:none;
  text-shadow:0px 1px 0px #ffee66;
}
.check_out:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffab23), color-stop(1, #ffec64));
  background:-moz-linear-gradient(top, #ffab23 5%, #ffec64 100%);
  background:-webkit-linear-gradient(top, #ffab23 5%, #ffec64 100%);
  background:-o-linear-gradient(top, #ffab23 5%, #ffec64 100%);
  background:-ms-linear-gradient(top, #ffab23 5%, #ffec64 100%);
  background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffab23', endColorstr='#ffec64',GradientType=0);
  background-color:#ffab23;
}
.check_out:active {
  position:relative;
  top:1px;
}


@media only screen and (max-width: 992px) {
  .cartDiv {
    display: none;
  }
}