.soft_add_wrapper {
  width: 300px !important;
  height: auto !important;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  position: fixed !important;
  z-index: 1000 !important;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.6) !important;
  -moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.6) !important;
  box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.6) !important;
  background: white !important;
  border-radius: 5px !important;
  -moz-border-radius: 5px !important;
  -webkit-border-radius: 5px !important;
  -khtml-border-radius: 5px !important;
}

/* Header */
.soft_add_header .soft_add_span {
  display: none !important;
}

.soft_add_header_shadow {
  background: none !important;
  padding: 0px !important;
  width: 100% !important;
  display: block !important;
}

.soft_add_header {
  background: rgb(222,96,96) url(../images/template/cart_white.svg) no-repeat !important;
  background-position: 5px center !important;
  background-size: 20px 20px !important;
  padding: 5px !important;
  width: 100% !important;
  height: 30px !important;
  position: static !important;
  border: 0px !important;
  border-top-right-radius: 5px !important;
  -moz-border-radius-topright: 5px !important;
  -webkit-border-top-right-radius: 5px !important;
  -khtml-border-top-right-radius: 5px !important;
  border-top-left-radius: 5px !important;
  -moz-border-radius-topleft: 5px !important;
  -webkit-border-top-left-radius: 5px !important;
  -khtml-border-top-left-radius: 5px !important;
}

.close_btn, .close_btn:link, .close_btn:visited, .close_btn:focus, .close_btn:hover, close_btn:active {
  width: 20px !important;
  height: 20px !important;
  background: url(../images/softadd/close_white.svg) !important;
  background-position: center center !important;
  background-size: 20px 20px !important;
  z-index: 200 !important;
  position: static !important;
  float: right !important;
  clear: both !important;
  text-indent: -9999px !important;
}

/* Content */
.soft_add_content_shadow {
  background: transparent !important;
  padding: 0px !important;
  width: 100% !important;
  display: block !important;
  behavior: url(/a/iepngfix.htc) !important;
  border-bottom-right-radius: 5px !important;
  -moz-border-radius-bottomright: 5px !important;
  -webkit-border-bottom-right-radius: 5px !important;
  -khtml-border-bottom-right-radius: 5px !important;
  border-bottom-left-radius: 5px !important;
  -moz-border-radius-bottomleft: 5px !important;
  -webkit-border-bottom-left-radius: 5px !important;
  -khtml-border-bottom-left-radius: 5px !important;
}

.soft_add_content_wrapper {
  width: 100% !important;
  height: auto !important;
  border: 0px !important;
  background: transparent !important;
  position: static !important;
  z-index: 100 !important;
  border-bottom-right-radius: 5px !important;
  -moz-border-radius-bottomright: 5px !important;
  -webkit-border-bottom-right-radius: 5px !important;
  -khtml-border-bottom-right-radius: 5px !important;
  border-bottom-left-radius: 5px !important;
  -moz-border-radius-bottomleft: 5px !important;
  -webkit-border-bottom-left-radius: 5px !important;
  -khtml-border-bottom-left-radius: 5px !important;
}

.soft_add_content_area {
  height: auto !important;
  max-height: none !important;
  min-height: 65px !important;
  padding: 0px !important;
  overflow: auto !important;
  border-bottom: 0px !important;
}

.cart_table {
  width: 100% !important;
  table-layout: fixed !important;
}

.cart_table .product-row:not(:last-child) {
  border-bottom: 1px solid #ddd !important;
}

.cart_table .icon {
  width: 21.5% !important;
  text-align: center !important;
  padding: 0px !important;
}

.cart_table .icon img {
  background: transparent !important;
  height: 40px !important;
  margin: 0px auto !important;
}

.cart_table .description {
  width: 55.5% !important;
  font-size: 12px !important;
}

.cart_table .product_name {
  font-weight: normal !important;
}

.cart_table a {
  color: #333333 !important;
  text-decoration: none !important;
}

.cart_table a:hover {
  color: #f5a34e !important;
}

.cart_table .quantity {
  width: 8% !important;
  text-align: center !important;
  font-size: 12px !important;
}

.cart_table .price {
  width: 15% !important;
  font-size: 12px !important;
  text-align: center !important;
}

.cart_table .remove {
  display: none !important;
}

.cart_table td {
  padding: 0px !important;
  text-align: left !important;
  vertical-align: middle !important;
  height: 65px !important;
}

.soft_add_sub_total {
  background: #f7f7f8 !important;
  height: auto !important;
  padding: 10px 10px 5px !important;
  vertical-align: middle !important;
  line-height: 20px !important;
  border-top: 1px solid #ddd !important;
}

.soft_add_sub_total .number_of_items {
  font-size: 14px !important;
}

.soft_add_sub_total .sub_total {
  font-size: 20px !important;
}

.soft_add_sub_total::after,
.soft_add_action_area::after {
  content: "" !important;
  display: table !important;
  clear: both !important;
}

.soft_add_action_area {
  background: #f7f7f8 !important;
  height: auto !important;
  border: 0px !important;
  padding: 0px !important;
  text-align: center !important;
  border-bottom-right-radius: 5px !important;
  -moz-border-radius-bottomright: 5px !important;
  -webkit-border-bottom-right-radius: 5px !important;
  -khtml-border-bottom-right-radius: 5px !important;
  border-bottom-left-radius: 5px !important;
  -moz-border-radius-bottomleft: 5px !important;
  -webkit-border-bottom-left-radius: 5px !important;
  -khtml-border-bottom-left-radius: 5px !important;
}

.continue_shopping {
  display: none !important;
}

.check_out {
  white-space: nowrap !important;
  width: 160px !important;
  color: black !important;
  height: auto !important;
  display: block !important;
  float: none !important;
  text-indent: 0px !important;
  margin: 10px auto !important;
  text-align: center !important;
}

.check_out {
  -moz-box-shadow:inset 0px 1px 0px 0px #fff6af !important;
  -webkit-box-shadow:inset 0px 1px 0px 0px #fff6af !important;
  box-shadow:inset 0px 1px 0px 0px #fff6af !important;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffec64), color-stop(1, #ffab23)) !important;
  background:-moz-linear-gradient(top, #ffec64 5%, #ffab23 100%) !important;
  background:-webkit-linear-gradient(top, #ffec64 5%, #ffab23 100%) !important;
  background:-o-linear-gradient(top, #ffec64 5%, #ffab23 100%) !important;
  background:-ms-linear-gradient(top, #ffec64 5%, #ffab23 100%) !important;
  background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%) !important;
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffab23',GradientType=0) !important;
  background-color:#ffec64 !important;
  -moz-border-radius:6px !important;
  -webkit-border-radius:6px !important;
  border-radius:6px !important;
  border:1px solid #dddddd !important;
  display:inline-block !important;
  cursor:pointer !important;
  color:#333333 !important;
  font-family:Arial !important;
  font-size: 15px !important;
  font-weight:bold !important;
  padding: 6px 20px !important;
  text-decoration:none !important;
  text-shadow:0px 1px 0px #ffee66 !important;
}
.check_out:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffab23), color-stop(1, #ffec64)) !important;
  background:-moz-linear-gradient(top, #ffab23 5%, #ffec64 100%) !important;
  background:-webkit-linear-gradient(top, #ffab23 5%, #ffec64 100%) !important;
  background:-o-linear-gradient(top, #ffab23 5%, #ffec64 100%) !important;
  background:-ms-linear-gradient(top, #ffab23 5%, #ffec64 100%) !important;
  background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%) !important;
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffab23', endColorstr='#ffec64',GradientType=0) !important;
  background-color:#ffab23 !important;
  text-decoration:none !important;
  color:#333333 !important;
}
.check_out:active {
  position:relative !important;
  top:1px !important;
}

@media only screen and (max-width: 992px) {
  .cartDiv {
    display: none;
  }
}